@import url(https://fonts.googleapis.com/css?family=Roboto);

.page {
  background-color: rgb(78, 48, 187);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.btn {
  position: relative;
  width: 170px;
  line-height: 50px;
  border-radius: 30px;
  border: 3px solid #1ecd97;
  background-color: transparent;
  text-align: center;
  color: #1ecd97;
  font-size: 1.2em;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  cursor: pointer;
}

.btn:hover {
  background-color: #a2ead4;
  color: #fff;
}
